numpy
pandas
modin
pandas_profiling
xlrd
matplotlib
seaborn
sklearn
keras
tensorflow
scikit-plot
scipy
eli5
RISE
py2neo
ipython-cypher
chardet
click
Cython
dash
dash-core-components
dash-html-components
dash-renderer
decorator
nbformat
pandas-datareader
plotly
python-dateutil
pytz
requests
beautifulsoup4
urllib3
Werkzeug
tqdm
ipywidgets
